html {
  font-size: 100%;
  background-color: #1C1C1C;
}

body {
  font-family: 'Comfortaa', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1rem;
  overflow-x: hidden;
}

header {
  position: relative;
  height: 400px;
}

.cover-header {
  height: 100vh;
}

header img {
  width: 100%;
  height: 100%;
}

header .top-bar {
  position: absolute;
  top: 0%;
  left: 0%;
}

header .header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cover-header .header-content{
  left: 0%;
  margin: 0 10%;
  transform: translate(0, -50%);
  text-align: left;
}

header .social-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

main {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
  padding-top: 10px;
}

footer {
  background-color: #424242;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

footer .social-buttons {
  margin-left: auto;
  margin-right: auto;
}

/* Title Text */
h1 {
  font: bold 3.125rem 'Lato', sans-serif;
  
  margin: 0;
  padding: 0;
}

/* Heading */
h2 {
  color: #CFE2F3;
  font-size: 1.625rem;
}

/* Subheading 1 */
h3 {
  color: #d9d9d9;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: normal;
}

/* Footer heading */
h4 {
  color: white;
  font-size: 1.25rem;

  margin: 0;
  padding: 0;
}

/* Subheading 2 */
h5 {
  color: white;
  font-size: 1rem;
}

/* Normal Text */
li {
  margin-bottom: 10px;
}

/* Project cards */
.project-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-card {
  border-radius: 20px;
  padding: 24px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.project-card-blue {
  background-color: #0B5394;
}

.project-card-gray {
  background-color: #424242;
}

.img-button {
  width: fit-content;
  height: 300px;
  transition: transform .2s;
}

.img-button img {
  height: 100%;
  object-fit: contain;
  border-radius: 25px;
}

.img-button:hover {
  transform: scale(1.03);
}

.project-desc {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card .button-container {
  display: flex;
  justify-content: right;
  padding-right: 20px;
}

/* Buttons */
button {
  all: unset; 
  cursor: pointer; 
  width: fit-content; 
  text-align: center;
  font-family: 'Lato', sans-serif;

  text-align: center;
  align-items: center;
}

.gradient-button {
  height: 42px;
  background-image: linear-gradient(to right, #1f1faa , #00d4ff);;
}

.outline-button {
  height: 40px;
  border: 2px solid white; 
  border-radius: 25px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.round-button {
  height: 44px;
  color: white;
  background-color: #393939;
  border-radius: 25px;
  padding-left: 22px;
  padding-right: 22px;
}

.primary-button-color {
  background-color: #0B5394;;
}
.secondary-button-color {
  background-color: #393939;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 8px;
}

/* Button transitions */
.outline-button:hover {
  background-color: white;
  color: #0B5394;
}

.project-card-gray .outline-button:hover {
  background-color: white;
  color: #424242;
}

.hover-float {
  transition: all .2s ease;
}

.hover-float:hover {
  transform: translateY(-3px);
}

.hover-increase {
  transition: all .2s ease;
}

.hover-increase:hover {
  transform: scale(1.2);
}

.hover-brighten {
  opacity: 0.5;
  transition: all .1s ease;
}

.hover-brighten:hover {
  opacity: 1;
}

/* Project navigation bars */
.project-nav {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Keyword tags */
.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: fit-content;
}

.tag {
  width: fit-content; 
  padding: 2px 20px;
  border-radius: 20px;
  font-family: 'Lato', sans-serif;
}

/* Navigation Bar */
.top-bar {
  background-color: #1C1C1C;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 18px 0;
  width: 100%;
}

.top-bar nav {
  margin-left: auto;
  margin-right: auto;
}

.logo-text {
  font-size: 1.25rem;
  position: absolute;
  left: 30px;
  text-align: center;
}

nav {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #D1D1D1;
}

/* Dropdown menu */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none; /* Change to flex to show*/
  position: absolute;
  background-color: #1C1C1C;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  flex-direction: column;
  gap: 12px;
  padding: 12px 20px;
}

.dropdown:hover .dropdown-content {display: flex;}

/* Social buttons */
.social-buttons {
  width: fit-content;

  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.social-button {
  width: 32px;
  height: 32px;
}

.social-button img {
  width: 100%;
  height: 100%;
}

/* Sections */
.project-sections section {
  display: flex;
  justify-content: left;
  gap: 40px;
  padding: 16px 0px;
}

.project-sections section img {
  height: 300px;
  border-radius: 25px;
}

.project-sections section iframe {
  width: 640px;
  height: 360px;
  border-width: 0px;
  
  display: block; 
  margin: 0 auto;
}

.project-sections section .slideshow-container {
  width: 1000px;
}

.wrap {overflow:hidden} 

/* Skills Section */
#skill-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 40px 20%;
}

.skill-icon {
  width: 100px;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.skill-icon img {
  height: 80px;
  object-fit: contain;
  margin-bottom: 20px;
}

/* Slideshow */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Media queries*/
@media screen and (max-width: 1000px) {
  main {
    padding-left: 5%;
    padding-right: 5%;
  }

  /* Project cards */
  .project-card {
    display: block;
  }
  .img-button {
    width: 100%;
    height: fit-content;
  }
  .img-button img {
    width: 100%;
    height: auto;
  }
  .project-desc {
    width: 100%;
  }
  .project-card-gray .outline-button{
    margin-bottom: 20px;
  }
  .project-card-blue img {
    margin-bottom: 15px;
  }

  /* Sections */
  .project-sections section {
    display: block;
  }
  .project-sections section img {
    width: 100%;
    height: 100%;
  }
  .project-sections section .slideshow-container {
    width: 100%;
  }

  .logo-text {
    position: static;
  }
}