.projectHoverVideo {
  height: 250px;
  flex-shrink: 0;
  aspect-ratio: 16 / 9;
  border-radius: 25px;
  overflow: hidden;
  transition: transform .2s;
  cursor: pointer;
  background-color: #000;
  position: relative;
}

.projectHoverVideo:hover {
  transform: scale(1.03);
}

.projectHoverVideo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1000px) {
  .projectHoverVideo {
    width: 100%;
  }
}